@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');
/*Universal Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#111025 ;
    color: white;
    font-size: 16px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}
.heading{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.semihead{
    font-size:22px;
    font-weight:400;
}
.textspl{
    color: #D7AF2A;
}
.text{
    font-size: 20px;
}
.btncolor{
    background-color:  #bd9101;
    color: rgb(255, 255, 255);
}
.btncolor:hover{
    color: white;
     background-color: #111025;
    border: 1px solid #bd9101;
}
#icons{
    color: white;
}
#icons:hover{
    animation: shake 0.98s;
    animation-iteration-count: infinite;
}
.icon{
    cursor: pointer;
}
.icons{
    background-color: white;
    color: black;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 5px;
}
.icons:hover{
    color: white;
    background-color: #f6d46d;
}
.ico{
    background-color:  #f6d46d;
    color: black;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 5px; 
}
.ico:hover{
    color: rgb(3, 3, 3);
    background-color:   #ffffff;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/*navbar*/
.navbar {
    border-bottom :1px solid rgb(84, 84, 84);
    width: 86%;
    position: fixed;
    z-index: 9;
    background-color: #111025;
}
@media (min-width:1000px) {
    .navbar {
        border-bottom :1px solid rgb(84, 84, 84);
        width: 80%;
        position: fixed;
        z-index: 9;
        background-color: #111025;
    }
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover ,.nav-link :active{
    color: #D7AF2A;
}
/*profile*/
#set{
justify-content: center;
align-items: center;
}
.runn{
    font-size:30px;
    font-weight:400;
}

/*developer Css*/
#profile{
    display: flex;
    justify-content: center;
}
#window{
    margin-top: 50px;
}


/*about*/
@media (max-width: 800px) {
    #about{
        padding-top: 15px;    }
  
}

/*forms*/
.formse{
    width: 100%;
    margin: 10px;
    height: 50px;
    background-color: transparent;
    border:1px solid white;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
}
.formse::placeholder{
    color: white;
}
#buttons{
    width: 80%;
    border-radius: 5px;
}
.adress{
    padding: 15px;
    margin: 15px;
}
.adress a{
    color: white;
    text-decoration: none;
}
.image{
    padding: 5px;
    cursor: pointer;
}
.copy{
    border-top :1px solid rgb(84, 84, 84);
    width: 95%;
    text-align: center;
    
}

.emp-bg{
    padding: 25px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #bd9101;
}
.experience{
    border: 1px solid #bd9101;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
}
.experience::before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: #bd9101;
    position: absolute;
    z-index: 2;
    transform: rotate(268deg);
    left: -30px;
    clip-path: polygon(50.1% 0%, 100% 100%, 0% 100%);
}
.company-divider{
    border-bottom :1px solid #545454;
    margin: 5px;
}
.icon-emp{
    text-align: center;
margin-bottom: 20px;
}
@media (max-width:600px){
    .experience::before{
        display: none !important;
    }
    .company-divider{  
    padding: 10px;
    }
    .company-detail{
        text-align: center;
    }
    .tenure{
        font-size: 16px;
}
    }
